.ProjectsWrap {
  min-height: 100vh;
  display: flex;
  font-size: calc(10px + 2vmin);
  color: white;
  margin: 5em 17em 10em;
  max-width: fit-content;
  flex-direction: column;
}
.ProjectsWrap a
{
  text-decoration: none;
  color: inherit;
}

@media screen and (max-width: 1290px) 
{
  .ProjectsWrap
  {
    margin: 5em 10em 10em;
  }
  .ProjectsBack
  {
    width: 20rem;
    height:10rem;
  }
}
.titleHeader
{
  display: flex;
  align-self: flex-start;
  font-size: calc(24px + 2vmin);
  color: #FFEBB7;
  font-weight: 600;
}

.ProjectsBack
{
  background-color: #ff6f315e;
  width: 50rem;
  height:30rem;
  border-radius: 10%;
  display: flex;
  justify-content: center;
  align-content: center;
  flex-wrap: wrap;
  animation: color-changeTwo 3.5s infinite alternate;
  flex-direction: column;
}
@media screen and (max-width: 1290px) 
{
  .ProjectsWrap
  {
    margin: 5em 10em 10em;
  }
}

@keyframes color-changeTwo {
  from {
  }
  to {
    background-color: #ffdfb054;
  }
}
.IconWrapper
{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-content: center;
}
.Folder {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  margin: 1rem;
  justify-content: center;
}
.FolderIcon {
  font-size: 10rem;
  color: #5eb3a886;
}
.FolderText {
  position: absolute;
  font-size: 1.5rem;
  font-weight: bold;
  text-align: center;
}
.ButtonWrapper
{
  display: flex;
  flex-direction: row;
  align-items: center;
  
}
.PrevButton,.NextButton
{
  display: flex;
  height: 5rem;
  background-color: rgba(255, 255, 255, 0.315);
  border:none;
  align-items: center;
  font-size: 2rem;
  border-radius: 50%;
}
@media screen and (max-width: 700px) {
  .FolderIcon {
    font-size: 8rem;
  }
  .FolderText
  {
    font-size: 1.2rem;
  }
  .ProjectsWrap
  {
    margin: auto;
  }
  .ProjectsBack
  {
    width:20rem;
  }
  .PrevButton,.NextButton
  {
    font-size: 1rem;
  }
}