
.Circle
{
    display: flex;
    position: relative;
    animation-duration: 5s;
    animation-name: slidein; 
    animation-iteration-count: infinite;
    animation-direction: alternate; 
    position: absolute;
    right:0;
    width:35em;
    height:35em;
}
@keyframes slidein {
    from {
      right:0%;
    }
    to {
      right:50%;
    }
  }
  .NegativeCircle
{
    display: flex;
    position: relative;
    animation-duration: 5s;
    animation-name: slideinNegative;
    animation-iteration-count: infinite;
    animation-direction: alternate; 
    position: absolute;
    left:0;   
    width:35em;
    height:35em;
}
@keyframes slideinNegative {
    from {
      left: 0%;
    }
    to {
      left: 50%;
    }
  }

@media screen and (max-width: 700px) {
 .Circle {
  width: 7rem;
  height:7rem;
 }
 .NegativeCircle {
  width: 7rem;
  height:7rem;
 }
}