.Home {
  /* background-color: #112B3C; */
  font-size: calc(10px + 2vmin);
  color: #FCFFE7;
  margin: 10rem 30rem 25rem;
  z-index: 1;
}
.myName
{
  font-size: clamp(40px, 8vw, 80px);
  text-align: left;
  font-weight: 600;
}
.myTitle
{
  font-size: calc(25px + 2vmin);
  font-weight: 600;
  text-align: left;
  margin-top: 0;
  margin-bottom: 0;
  color:#FFEBB7;
}
.myDetail
{
  animation: FadeRight 2s ease;
  font-weight: 550;
  font-size: calc(8px + 2vmin);
  position: relative;
}
.headerContainer
{
  display: flex;
  align-items: flex-end;
}
.headers
{
  width:max-content;
  margin-right: 20%;
  display: flex;
  white-space: nowrap;
  flex-direction: column;
  animation: bounceInX 3s ease;
  opacity: 0;
  animation-fill-mode: forwards; /* Retains the final state of the animation */
}

@keyframes bounceInY {
  0% {
    transform: translateY(-100%);
    opacity: .2;
  }
  60% {
    opacity: .9;
    transform: translateY(10%);
  }
  80% {
    opacity: 1;
    transform: translateY(-20%);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
@keyframes bounceInX {
  0% {
    opacity: .2;
    transform: translateX(-100%);
  }
  30%{
    opacity: .5;
  }
  100% {
    opacity:1;
    transform: translateX(0);
  }
}

@keyframes FadeRight{

  0% {
    opacity: .2;
    transform: translateX(100%);
  }
  30%{
    opacity: .5;
  }
  100% {
    transform: translateX(0);
  }
}

@media screen and (max-width: 1290px) {
  .Home {
    margin: 2rem 17rem 25rem;
  }
}
