.AboutMe {
  background-color: #112B3C;
  min-height: 100vh;
  color: #FCFFE7;
  margin: 5% 25% 10%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding-top: 5%;
}
p,.listContainer
{
  z-index: 1;
}
.wrapp
{
  background-color: #a15828;
  opacity: 50%;
  padding: 20%;
  position: absolute;
  border-radius: 50%;
}
.aboutMeHeader {
  font-size: calc(24px + 2vmin);
  color: #FFEBB7;
  font-weight: 600;
  z-index: 1;
}

.listContainer {
  display: flex;
  flex-wrap: wrap;
  font-size: calc(8px + 2vmin);
  flex-direction: column;
}

.parOne{
  font-size: calc(9px + 2vmin);
  font-weight: 400;
  display: flex;
  flex-direction: column;
}

.parTwo {
  font-size: calc(8px + 2vmin);
  font-weight: 400;
}

.listLang {
  width: 50%;
  display: flex;
  align-items: center;
  flex-direction: row;
  font-weight: 400;
}

.listIcon {
  margin-right: 10px;
}
@media (max-width: 768px) {
  .listLang {
    width: 70%;
  }
}

.aboutMeHeaderContainer {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.aboutMeWords {
  display: flex;
  align-items: flex-start;
  flex-direction: row;
}

.aboutMeImage {
  display: flex;
  align-items: flex-start;
  justify-content: flex-end;
} 
.myImage {
  width: 400px; 
  height: 400px;
  overflow: hidden;
 /* set height to auto to maintain aspect ratio */
  border-radius: 50%;
  z-index: 1;
  /* margin-right: 20px; add margin to separate image from list items */
  display: flex;
  align-items: center;
}

.imageContainer {
  display: flex;
  justify-content: flex-end;
}
