.ProjectsTable
{
    margin-top: 5em;
    width: 100%;
    color:#FCFFE7;
    max-height: fit-content;
    display: flex;
    flex-direction: row;
}


.jobNavWrapper
{
    max-width: max-content;
    max-height:max-content;
    display: flex;
    flex-direction: column;
}
.jobNavWrapper button
{
    border:none;
    height: 6em;
    color: inherit;
    text-decoration: none;
}
.jobsTextselected
{
    white-space: nowrap;
    font-size: calc(4px + 2vmin);
    padding:1em; 
    border-left: solid;
    border-color: rgb(239, 239, 239);
}
.jobsText
{    
    border-left: solid;
    border-color: #a15828;
    white-space: nowrap;
    font-size: calc(4px + 2vmin);
    padding:1em;  
    z-index: 1;
}
.jobPara
{
    font-size: 2em;
    z-index: 1;
}
.jobTitle a
{
    text-decoration: none;
    color: greenyellow;
    z-index: 1;
}
.jobTitle
{
    font-size: .8em;
    z-index: 1;
}
.buttons
{
    background-color:transparent;
    max-height:fit-content;
}

@media screen and (max-width: 1290px) 
{
    .jobsTextselected, .jobsText
    {
        font-size: .9rem;
        white-space:break-spaces;
        max-height: fit-content;
        
    }
  .jobTitle, .jobPara
  {
    font-size: 1rem;
  }
  .jobPara
  {
    font-size: 1.5rem;
  }
}
@media screen and (max-width: 700px) 
{
    .buttons
    {
        margin-bottom:1.5rem;
    }
}
.jobTime
{
    font-size:0.5em;
    margin-top: 1em;
    margin-bottom: 1em;
}
.jobDescription
{
    display: flex;
    flex-direction :row;
}
.bulletList
{
    font-size: .6em;
}