.experiencePage
{
  min-height: 100vh;
  margin: 5em 30em 10em;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  /* background-color: black; */
}
@media screen and (max-width: 1290px) {
  .experiencePage {
    margin: 2rem 15rem 25rem;
  }
}
.experiencePage header
{
  font-size: calc(24px + 2vmin);
  color: #FFEBB7;
  font-weight: 600;
  z-index: 1;
}

@keyframes color-change {
  from {
  }
  to {
    background-color: #7e3e2e94;
  }
}
@keyframes color-changeTwo {
  from {
  }
  to {
    background-color: #ffdfb0b0;
  }
}
@keyframes color-changeThree {
  from {
  }
  to {
    background-color: #cdeb79b6;
  }
}
